
.pagDiv {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.pagDiv video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.startPag2{
    width: 600px;
    transition: all 600ms;
}

.imgs{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    top: 10%;
}

.startPag{    
    width: 100px;
    margin-top: 50px;
    left: 47.4%;
    cursor: pointer;
    transition: all 1.5s;    
}
.startPag:hover{
    transform: scale(1.5);
    
}

body{
    background-image: url(https://i.gifer.com/AaKN.gif);
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
  }